@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

/*

font-family: 'Jost', sans-serif; 300 400 500 600

*/

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
}

body {
    min-width: 320px;
    min-height: 100vh;
    /* overflow-x: hidden; */
    font-size: 16px;
    color: #2B2A29;
    text-decoration: none;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.menu__icon {
    display: none;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header {
    max-height: 159px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 36px;
    width: 617px;
    margin-right: 255px;
}

.button {
    display: inline-block;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    background: linear-gradient(270deg, #23AB59 -121.82%, #92C02C 70.45%);
    color: #FFF;
    font-weight: 500;
    transition: all .3s;
}

.button:hover {
    box-shadow: 0 8px 32px 2px #D7FD83;
}

.button:active {
    transform: scale(.85);
}

.header__button {
    position: absolute;
    top: 17px;
    right: 0;
}

.logo__link {
    position: absolute;
    top: 22px;
    left: 0;
}

.logo {
    max-width: 224px;
}

.header__contacts div {
    position: relative;
}

.header__contacts div::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    top: 3px;
    left: -26px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__contacts_hours em {
    font-style: normal;
    font-weight: 400;
}

.header__contacts_adress::before {
    background-image: url(../img/icon_arrow.svg);
}

.header__contacts_hours::before {
    background-image: url(../img/icon_clock.svg);
}

.header__contacts_phone::before {
    background-image: url(../img/icon_phone.svg);
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 787px;
    margin-top: 38px;
}

.header__menu_item {
    position: relative;
    transition: all .3s;
}

.header__menu_item:hover {
    color: #92C02C;
}

.header__menu_item:hover::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    right: -26px;
    top: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon_tick.svg);
}

.main__banner {
    position: relative;
    margin-bottom: 100px;
}

.main__banner-image {
    max-width: 100%;
}

.main__banner_content {
    position: absolute;
    top: 21%;
    max-width: 570px;
}

.main__banner_text h2 {
    color: #393185;
    line-height: 55px;
    margin-bottom: 30px;
}

.main__banner_text {
    margin-bottom: 30px;
    font-size: 18px;
}

.advantages__title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 55px;
}

.advantages {
    margin-bottom: 56px;
}

.advantages__items_wrapper {
    display: flex;
}

.advantages__item {
    margin-right: 77px;
}

.advantages__item img {
    margin-bottom: 20px;
}

.advantages__item_title {
    font-weight: 600;
    margin-bottom: 6px;
}

.advantages__item_text {
    max-width: 320px;
    min-height: 65px;
    line-height: 23px;
}

.main__services {
    background-image: url(../img/services_background_figure.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 42%;
}

.main__services_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.main__services_top_content {
    max-width: 770px;
    margin-top: 134px;
}

.main__services_top_content h2 {
    margin-bottom: 20px;
}

.main__services_bottom .cards {
    margin-bottom: 100px;
}

.main__services-button {
    margin-top: 214px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 270px;
    height: 384px;
    border-radius: 10px;
    padding: 40px;
    background-color: #FFF;
    box-shadow: 10px 10px 40px rgba(40, 66, 80, 0.15);
}

.card__icon {
    margin-bottom: 20px;
}

.card__title {
    font-weight: 500;
    margin-bottom: 38px;
    line-height: 23px;
}

.card__text {
    position: absolute;
    top: 191px;
    left: 40px;
    max-width: 190px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.card__link {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #393185;
    display: inline-block;
    transition: all .3s;
}

.card__link:hover {
    filter: drop-shadow(0px 0px 5px #7d6ffa);
}

.card__link::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    right: -26px;
    top: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/card_icon_arrow.svg);
}

.main__docs {
    min-height: 985px;
    background-color: #F4F9FB;
}

.main__docs_top_content {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 80px;
}

.main__docs_top-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    color: #92C02C;
}

.main__docs_slider_left {
    width: 410px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    position: absolute;
    z-index: 10;
    scrollbar-width: thin;
    scrollbar-color: #92C02C #FFF;
}

.main__docs_slider_left::-webkit-scrollbar {
    width: 10px;
}

.main__docs_slider_left::-webkit-scrollbar-track {
    background: #FFF;
}

.main__docs_slider_left::-webkit-scrollbar-thumb {
    background: #92C02C;
}

.main__docs_handler_item {
    display: flex;
    width: 370px;
    min-height: 120px;
    background-color: #fff;
    border-radius: 80px;
    margin-bottom: 20px;
}

.main__docs_handler_ava {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.main__docs_handler_item:focus {
    background-color: #92C02C;
    color: #FFF;
}

.main__docs_handler_item:focus .main__docs_handler_spec {
    color: inherit;
}

.doc__info {
    max-width: 670px;
    background-color: aqua;
}

.main__docs_slider_right {
    display: inline-block;
    margin-left: 500px;
    max-width: 670px;
}

.main__docs_handler_text {
    margin-top: 26px;
}

.main__docs_handler_surname,
.main__docs_handler_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.main__docs_handler_spec {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #92C02C;
}

.main__docs_photo {
    width: 270px;
    height: 350px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_doc1 {
    background-image: url(../img/main_doc_photo1.jpg);
}

.main_doc2 {
    background-image: url(../img/main_doc_photo2.jpg);
}

.main_doc3 {
    background-image: url(../img/main_doc_photo3.jpg);
}

.main__docs_info_top {
    display: flex;
    margin-bottom: 40px;
}

.main__docs_content {
    margin-left: 30px;
}

.main__docs_info_surname,
.main__docs_info_name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.main__docs_info_name {
    margin-bottom: 10px;
}

.main__docs_info_exp {
    margin-bottom: 33px;
}

.main__docs_info_line {
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    background-color: #E5EDF0;
    margin-bottom: 25px;
}

.main__docs_info_line-green {
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #92C02C;
    width: 36px;
}

.main__docs_info_text,
.main__docs_info_line {
    max-width: 370px;
}

.main__docs_button {
    padding-left: 45px;
    padding-right: 71px;
    position: relative;
}

.main__docs_button::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    right: 44px;
    top: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/main__docs_button.svg);
}

.main__docs_button:hover {
    box-shadow: unset;
}

.main__mission_wrapper {
    padding-top: 120px;
    padding-bottom: 210px;
    display: flex;
}

.main__mission_img {
    position: relative;
    width: 470px;
    height: 478px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/mission_background.jpg);
    box-shadow: 10px 10px 40px 0px #28425026;
}

.main__mission_rect {
    position: absolute;
    bottom: -65px;
    left: -65px;
    z-index: -1;
}

.main__mission_slogan {
    position: absolute;
    max-width: 370px;
    padding: 30px;
    color: #FFF;
    background-color: #817BB1;
    border-radius: 10px;
    bottom: -88px;
    right: -100px;
}

.main__mission_slogan_title {
    position: relative;
    text-align: center;
}

.main__mission_slogan_title-text {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background-color: #817BB1;
    padding: 0 21px;
    z-index: 1;
    position: relative;
    margin-bottom: 11px;
}

.main__mission_title-line {
    position: absolute;
    height: 1px;
    top: 12px;
    width: 100%;
    z-index: 0;
    background-color: #B9B4E5;
}

.main__mission_slogan_text {
    text-align: center;
    font-weight: 400;
}

.main__mission_content {
    max-width: 667px;
    margin-left: 33px;
}

.main__mission_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 21px;
    margin-bottom: 11px;
}

.main__mission_text {
    margin-bottom: 35px;
}

.main__mission_button {
    position: relative;
    margin-left: 100px;
    padding-left: 32px;
    padding-right: 64px;
}

.main__mission_button::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 18px;
    right: 27px;
    top: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon_mission_arrow.svg);
}

.main_contacts {
    position: relative;
}

.main_contacts_content {
    max-width: 470px;
    padding: 60px;
    position: absolute;
    top: 14%;
    background-color: #FFF;
    box-shadow: 10px 10px 60px 0px #28425040;
    border-radius: 10px;
}

.main_contacts_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
}

.contacts__title {
    position: relative;
    margin-left: 43px;
    color: #8B9FA5;
    font-size: 14px;
    margin-bottom: 18px;
}

.contacts__title::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -44px;
    top: -7px;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_contacts_tel_text {
    display: flex;
    margin-bottom: 35px;
}

.main_contacts_tel_title::before {
    background-image: url(../img/icon_main_contacts_tel.svg);
}

.main_contacts_adr_title::before {
    background-image: url(../img/icon_main_contacts_adr.svg);
}

.main_contacts_mail_title::before {
    background-image: url(../img/icon_main_contacts_mail.svg);
}

.main_contacts_tel_no {
    display: inline-block;
}

.main__tel_wrapper {
    max-width: 131px;
}

.main__tel_wrapper:last-child {
    margin-left: 40px;
}

.main_contacts_adr {
    margin-bottom: 35px;
}