@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/*

font-family: 'Jost', sans-serif; 300 400 500 600 700

*/

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
}

body {
    min-width: 320px;
    min-height: 100vh;
    /* overflow-x: hidden; */
    font-size: 16px;
    color: #2B2A29;
    text-decoration: none;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.menu__icon {
    display: none;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.header {
    max-height: 159px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 36px;
    width: 617px;
    margin-right: 255px;
}

.button {
    display: inline-block;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    background: linear-gradient(270deg, #23AB59 -121.82%, #92C02C 70.45%);
    color: #FFF;
    font-weight: 500;
    transition: all .3s;
}

.button:hover {
    background: linear-gradient(270deg, #92C02C -121.82%, #92C02C 70.45%);
    transition: all .3s;
}

.button:active {
    transform: scale(.9);
}

.header__button {
    position: absolute;
    top: 17px;
    right: 0;
}

.logo__link {
    position: absolute;
    top: 22px;
    left: 0;
}

.logo {
    max-width: 224px;
}

.header__contacts div,
.header__contacts a {
    position: relative;
}

.header__contacts div::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    top: 3px;
    left: -26px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__contacts a::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    top: 3px;
    left: -26px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__contacts_hours em {
    font-style: normal;
    font-weight: 400;
}

.header__contacts_adress::before {
    background-image: url(../img/icon_arrow.svg);
}

.header__contacts_hours::before {
    background-image: url(../img/icon_clock.svg);
}

.header__contacts_phone::before {
    background-image: url(../img/icon_phone.svg);
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 787px;
    margin-top: 38px;
}

.header__menu_item {
    position: relative;
    transition: all .3s;
}

.header__menu_item:hover {
    color: #92C02C;
}

.services_item {
    position: relative;
}

.services_item::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    right: -26px;
    top: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon_tick.svg);
}

.header__panel {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: #FFF;
    padding-top: 38px;
    padding-bottom: 55px;
    margin-top: -23px;
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 1s;
    pointer-events: none;
}

.header__panel.active {
    /* visibility: visible; */
    opacity: 1;
    transition: opacity 1s;
    pointer-events: unset;
}

.header__panel_wrapper {
    display: flex;
    position: relative;
}

.panel__title {
    display: block;
    position: relative;
    font-weight: 500;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-right: -40px;
}

.panel__title::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -44px;
    top: -5px;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__panel_spec_title::before {
    background-image: url(../img/icon_panel_steto.svg);
}

.header__panel_massage_title::before {
    background-image: url(../img/icon_panel_back.svg);
}

.header__panel_right_weight::before {
    background-image: url(../img/icon_panel_waist.svg);
}

.header__panel_right_analys::before {
    background-image: url(../img/icon_panel_analys.svg);
}

.panel__link {
    display: block;
    font-weight: 400;
    margin-bottom: 20px;
}

.panel__link_services {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    position: relative;
}

.panel__link_services::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    right: -22px;
    top: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon_tick.svg);
    transform: rotate(-90deg);
}

.header__panel_massage {
    margin-left: 102px;
}

.header__panel_massage_list_wrapper {
    display: flex;
}

.header__panel_massage_list-right {
    margin-left: 33px;
}

.header__panel_right {
    margin-left: 68px;
}

.panel__buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}

.button__blue {
    display: inline-block;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    background-color: #E7F5FB;
    color: #92C02C;
    font-weight: 500;
    transition: all .3s;
}

.button__blue:hover {
    background-color: #D4F1FD;
    transition: all .3s;
}

.button__blue:active {
    transform: scale(.9);
}

.button__transparent {
    display: inline-block;
    border-radius: 30px;
    height: 60px;
    line-height: 60px;
    padding: 0 32px;
    background-color: #FFF;
    border: 2px solid #92C02C;
    color: #92C02C;
    font-weight: 500;
    transition: all .3s;
}

.button__transparent:hover {
    background-color: #92C02C;
    transition: all .3s;
    color: #fff;
}

.button__transparent:active {
    transform: scale(.9);
}

.header__panel .button__transparent {
    margin-left: 27px;
}

.main__banner {
    position: relative;
    margin-bottom: 100px;
}

.main__banner-image {
    max-width: 100%;
}

.main__banner_content {
    position: absolute;
    top: 21%;
    max-width: 570px;
}

.main__banner_text h2 {
    color: #393185;
    line-height: 55px;
    margin-bottom: 30px;
}

.main__banner_text {
    margin-bottom: 30px;
    font-size: 18px;
}

.advantages__title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 55px;
}

.advantages {
    margin-bottom: 56px;
}

.advantages__items_wrapper {
    display: flex;
}

.advantages__item {
    margin-right: 77px;
}

.advantages__item img {
    margin-bottom: 20px;
}

.advantages__item_title {
    font-weight: 600;
    margin-bottom: 6px;
}

.advantages__item_text {
    max-width: 320px;
    min-height: 65px;
    line-height: 23px;
}

.main__services {
    background-image: url(../img/services_background_figure.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 42%;
}

.main__services_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.main__services_top_content {
    max-width: 770px;
    margin-top: 134px;
}

.main__services_top_content h2 {
    margin-bottom: 20px;
}

.main__services_bottom .cards {
    margin-bottom: 100px;
}

.main__services-button {
    margin-top: 214px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 270px;
    height: 384px;
    border-radius: 10px;
    padding: 40px;
    background-color: #FFF;
    box-shadow: 10px 10px 40px rgba(40, 66, 80, 0.15);
}

.card__icon {
    margin-bottom: 20px;
}

.card__title {
    font-weight: 500;
    margin-bottom: 38px;
    line-height: 23px;
}

.card__text {
    position: absolute;
    top: 191px;
    left: 40px;
    max-width: 190px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.card__link {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #393185;
    display: inline-block;
}

.card__link::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    height: 16px;
    right: -26px;
    top: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/card_icon_arrow.svg);
}

.card__link:hover::after {
    right: -109px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.card__link:not(:hover)::after {
    right: -26px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.main__docs {
    min-height: 985px;
    background-color: #F4F9FB;
}

.main__docs_top_content {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 80px;
}

.main__docs_top-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 55px;
    color: #92C02C;
}

.main__docs_slider_left {
    width: 410px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    position: absolute;
    z-index: 10;
    scrollbar-width: thin;
    scrollbar-color: #92C02C #FFF;
}

.main__docs_slider_left::-webkit-scrollbar {
    width: 10px;
}

.main__docs_slider_left::-webkit-scrollbar-track {
    background: #FFF;
}

.main__docs_slider_left::-webkit-scrollbar-thumb {
    background: #92C02C;
}

.main__docs_handler_item {
    display: flex;
    width: 370px;
    min-height: 120px;
    background-color: #fff;
    border-radius: 80px;
    margin-bottom: 20px;
    transition: all .3s;
}

.main__docs_handler_item:hover {
    background-color: #E7F5FB;
}

.main__docs_handler_ava {
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin: 20px;
}

.main__docs_handler_item:focus {
    background-color: #92C02C;
    color: #FFF;
}

.main__docs_handler_item:focus .main__docs_handler_spec {
    color: inherit;
}

.doc__info {
    max-width: 670px;
    background-color: aqua;
}

.main__docs_slider_right {
    display: inline-block;
    margin-left: 500px;
    max-width: 670px;
}

.main__docs_handler_text {
    margin-top: 26px;
}

.main__docs_handler_surname,
.main__docs_handler_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.main__docs_handler_spec {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #92C02C;
}

.main__docs_photo {
    width: 270px;
    height: 350px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_doc1 {
    background-image: url(../img/main_doc_photo1.jpg);
}

.main_doc2 {
    background-image: url(../img/main_doc_photo2.jpg);
}

.main_doc3 {
    background-image: url(../img/main_doc_photo3.jpg);
}

.main__docs_info_top {
    display: flex;
    margin-bottom: 40px;
}

.main__docs_content {
    margin-left: 30px;
}

.main__docs_info_surname,
.main__docs_info_name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.main__docs_info_name {
    margin-bottom: 10px;
}

.main__docs_info_exp {
    margin-bottom: 33px;
}

.main__docs_info_line {
    display: block;
    width: 100%;
    height: 1px;
    position: relative;
    background-color: #E5EDF0;
    margin-bottom: 25px;
}

.main__docs_info_line-green {
    position: absolute;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #92C02C;
    width: 36px;
}

.main__docs_info_text,
.main__docs_info_line {
    max-width: 370px;
}

.main__docs_button {
    padding-left: 45px;
    padding-right: 71px;
    position: relative;
}

.main__docs_button::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    right: 44px;
    top: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/main__docs_button.svg);
}

.main__mission_wrapper {
    padding-top: 120px;
    padding-bottom: 210px;
    display: flex;
}

.main__mission_img {
    position: relative;
    width: 470px;
    height: 478px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/mission_background.jpg);
    box-shadow: 10px 10px 40px 0px #28425026;
}

.main__mission_rect {
    position: absolute;
    bottom: -65px;
    left: -65px;
    z-index: -1;
}

.main__mission_slogan {
    position: absolute;
    max-width: 370px;
    padding: 30px;
    color: #FFF;
    background-color: #817BB1;
    border-radius: 10px;
    bottom: -88px;
    right: -100px;
}

.main__mission_slogan_title {
    position: relative;
    text-align: center;
}

.main__mission_slogan_title-text {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background-color: #817BB1;
    padding: 0 21px;
    z-index: 1;
    position: relative;
    margin-bottom: 11px;
}

.main__mission_title-line {
    position: absolute;
    height: 1px;
    top: 12px;
    width: 100%;
    z-index: 0;
    background-color: #B9B4E5;
}

.main__mission_slogan_text {
    text-align: center;
    font-weight: 400;
}

.main__mission_content {
    max-width: 667px;
    margin-left: 33px;
}

.main__mission_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 21px;
    margin-bottom: 11px;
}

.main__mission_text {
    margin-bottom: 35px;
}

.main__mission_button {
    position: relative;
    margin-left: 100px;
    padding-left: 32px;
    padding-right: 64px;
}

.main__mission_button::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 18px;
    right: 27px;
    top: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/icon_mission_arrow.svg);
}

.main_contacts {
    position: relative;
    margin-bottom: 109px;
}

.main_contacts_content {
    max-width: 470px;
    padding: 60px;
    position: absolute;
    top: 14%;
    background-color: #FFF;
    box-shadow: 10px 10px 60px 0px #28425040;
    border-radius: 10px;
}

.main_contacts_title {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
}

.contacts__title {
    position: relative;
    margin-left: 43px;
    color: #8B9FA5;
    font-size: 14px;
    margin-bottom: 18px;
}

.contacts__title::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -44px;
    top: -7px;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_contacts_tel_text {
    display: flex;
    margin-bottom: 35px;
}

.main_contacts_tel_title::before {
    background-image: url(../img/icon_main_contacts_tel.svg);
}

.main_contacts_adr_title::before {
    background-image: url(../img/icon_main_contacts_adr.svg);
}

.main_contacts_mail_title::before {
    background-image: url(../img/icon_main_contacts_mail.svg);
}

.main_contacts_tel_no {
    display: inline-block;
}

.main__tel_wrapper {
    max-width: 131px;
}

.main__tel_wrapper:last-child {
    margin-left: 40px;
}

.main_contacts_adr {
    margin-bottom: 35px;
}

.main__registration {
    margin-bottom: 120px;
}

.main__registration_wrapper:not(:hover) .registration-circle {
    scale: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.main__registration_wrapper:hover .registration-circle {
    scale: 3.8;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.main__registration_inner {
    position: relative;
    width: 100%;
    background: radial-gradient(64.32% 761.61% at 13.29% 64.12%, #F4F9FB 0%, #E7F5FB 59.37%);
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 64px;
}

.main__registration_steto {
    position: absolute;
    left: 15%;
    top: -35%;
}

.registration-circle {
    position: absolute;
    right: -29%;
    top: -41%;
    width: 635px;
    height: 635px;
    background-color: #DAF0FA;
    border-radius: 100%;
}

.main__registration_content {
    margin-top: 64px;
    margin-left: 285px;
    position: relative;
}

.main__registration_wrapper {
    position: relative;
}

.main__registration_wrapper::after {
    position: absolute;
    content: "";
    width: 257px;
    height: 414px;
    left: 14px;
    top: -58px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/steto.png);
}

.main__registration_title {
    margin-bottom: 5px;
    font-weight: 700;
    color: #393185;
    font-size: 48px;
    line-height: 55px;
}

.main__registration_text {
    font-size: 18px;
    line-height: 43px;
    max-width: 640px;
    margin-bottom: 34px;
}

.main__registration_text em {
    font-weight: 500;
    font-style: normal;
}

.footer__top {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 43px;
    padding-bottom: 35px;
    font-size: 14px;
}

.footer__bottom {
    padding-bottom: 35px;
    padding-top: 15px;
}

.footer__top_wrapper {
    display: grid;
    grid-template-areas: "_1 _2 _3 _4 _5 _6";
    grid-column-gap: 45px;
}

.fc1 {
    grid-area: _1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fc2 {
    grid-area: _2;
}

.fc3 {
    grid-area: _3;
}

.fc4 {
    grid-area: _4;
}

.fc5 {
    grid-area: _5;
}

.fc6 {
    grid-area: _6;
}

.footer__logo {
    width: 154px;
    margin-bottom: 25px;
}

.fc1 a {
    margin-bottom: 25px;
}

.footer__copyright {
    margin-bottom: 25px;
}

.footer__policy,
.footer__license {
    border-bottom: 1px solid #92C02C;
    display: inline-block;
    white-space: nowrap;
}

.footer__link {
    white-space: nowrap;
    margin-bottom: 20px;
    display: inline-block;
}

.footer__title {
    white-space: nowrap;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    position: relative;
}

.footer__title_line {
    position: absolute;
    height: 1px;
    width: 32px;
    background-color: #92C02C;
    left: 0;
    bottom: -5px;
}

.footer nav {
    display: flex;
    flex-direction: column;
}

.fc5 .footer__link:first-child {
    margin-top: 52px;
}

.footer__right_links {
    margin-top: 52px;
    margin-left: 25px;
    max-width: 169px;
    margin-right: -19px;
}

.footer__right_bold {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
    max-width: 172px;
}

.footer__doc_call {
    display: inline-block;
    font-weight: 400;
    color: #92C02C;
    border-bottom: 1px solid #92C02C;
    line-height: 39px;
}

.footer .logo__link {
    font-size: 14px;
    margin-top: 9px;
    display: flex;
}

.footer .header__contacts {
    width: 538px;
    margin-right: 384px;
}

.diez_logo {
    margin-left: 20px;
}